:root {
	--bg-color-primary: #6a9252;
	--bg-color-secondary: #414141;
	--bg-color-highlight: #ffffff;
	--text-color-primary: #000000;
	--text-color-secondary: #ffffff;
	--text-color-highlight: #000000;
	--border-color: #000000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
}

#input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: var(--bg-color-secondary);
	color: var(--text-color-secondary);
}

#inputbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 400px;
	height: 100px;
	background-color: var(--bg-color-highlight);
	color: var(--text-color-highlight);
}

#submit {
	padding: 10px;
	width: 150px;
	height: 40px;
}
